<h1 class="bake-page-title">Our Signature Bakes</h1>
<div class="cake-background">
  <div class="goods-wrapper">
    <% @cakes.each do |cake| %>
    <div class="bake-card">
      <div class="bake-image" style='background-image: url(<%= cake.image_url %>)'> </div>
      <h2 class="bake-name"><%= cake.name %></h2>
      <p class="bake-description"><%= cake.description %></p>
      <p>Price: $<%= cake.price %></p>
      <a href="/cakes/<%= cake.id %>/order"><button type="button" class="order-btn">order</button> </a>
    </div>
    <% end %>
  </div>
</div>
