<h1 class="bake-page-title">Our Decadent Biscuits</h1>
<div class="cookie-background">
  <div class="goods-wrapper">
    <% @cookies.each do |cookie| %>
    <div class="bake-card">
      <img src=<%= cookie.image_url %> >
      <h2 class="bake-name"><%= cookie.name %></h2>
      <p class="bake-description"><%= cookie.description %></p>
      <p>Price: $<%= cookie.price %></p>
      <a href="/cookies/<%= cookie.id %>/order"><button type="button" class="order-btn">order</button> </a>
    </div>
    <% end %>
  </div>
</div>
