<h1 class="bake-page-title">Our Decadent Biscuits</h1>
<div class="muffin-background">
  <div class="goods-wrapper">
    <% @muffins.each do |muffin| %>
    <div class="bake-card">
      <div class="bake-image" style='background-image: url(<%= muffin.image_url %>)'> </div>
      <h2 class="bake-name"><%= muffin.name %></h2>
      <p class="bake-description"><%= muffin.description %></p>
      <p><span class="bold">Price:</span> $<%= muffin.price %> each</p>
      <a href="/muffins/<%= muffin.id %>/order"><button type="button" class="order-btn">order</button> </a>
    </div>
    <% end %>
  </div>
</div>
