<h1 class="bake-page-title"> Edit Profile </h1>

<div class="edit-profile-wrapper">
	<%= form_for @user do |user| %>
	<p> Name </p>
	  <div> <%= user.text_field :name, placeholder: 'Name' %> </div>
	<p> Phone Number </p>
	  <div class=""> <%= user.telephone_field :phone_number, placeholder: '(000) 000-0000'%></div>
	<p> Email </p>
	  <div> <%= user.text_field :email %> </div>
	  <%= user.submit 'Update' %>
	<% end %>

	<br>
	<hr>
	<%= link_to "Delete Account", user_path, method: :delete %>
	<br>
	<hr>

	<%= link_to 'Back', :back %>
</div>