<h1 class="bake-page-title">Order History</h1>
<div class="show-container">

  <!-- USER INFO -->
  <div class="profile-container">
    <div class="profile">   
      <div class="user-name-container">
        <% if @user.name? %>
        <h2 onclick="edit()" > <%= @user.name%> </h2>
        <% else %>
        <h2> <%= link_to "Add Your Name Here", edit_user_path %> </h2>
        <% end %>
      </div>

      <div class="user-email-container">
        <% if @user.email? %>
        <h3 onclick="edit()"> Email: <%= @user.email %> </h3>
        <% else %>
        <h3> <%= link_to "Add Your Email Here", edit_user_path %> </h3>
        <% end %>
      </div>
      <div class="user-phone-number-container">
        <% if @user.phone_number? %>
        <h3 onclick="edit()">Phone: <%= @user.phone_number %> </h3>
        <% else %>
        <h3> <%= link_to "Add Your Phone Number Here", edit_user_path %> </h3>
        <% end %>
      </div>
    </div>

    <!-- EDIT PROFILE -->
    <div class="edit-profile">
        <%= form_for @user do |user| %>
          <p> Name </p>
            <div> <%= user.text_field :name, placeholder: 'Name', autocomplete: 'none' %> </div>
          <p> Phone Number </p>
            <div class=""> <%= user.telephone_field :phone_number, placeholder: '(000) 000-0000'%></div>
          <p> Email </p>
            <div> <%= user.text_field :email %> </div>
            <%= user.submit 'Update', id: 'update_btn' %>
        <% end %>

        <br>
        <hr>
        <%= link_to "Delete Account", user_path, method: :delete %>
        <br>
        <hr>
    </div>
  </div>


  <div class="divider"></div>

  <!-- ORDER INFO -->
  <div class="user-order-container">
    <!-- <h1>Order History</h1> -->
    <div class="whatever">
      <% if @orders != [] %>
      <% @orders.reverse.each do |order| %>
      <div class="individual-order-container">
        <h2><%= order.inventory.name %></h2>
        <p>
          <span class="bold">Comments</span>: <% if order.comment? %>
          <%= order.comment %>
          <% else %>
          You did not add a comment.
          <% end %>
        </p>
        <p> <span class="bold">Quantity</span>: <%= order.quantity %> </p>
        <p> <span class="bold">Need it by</span>: <%= order.need_it_by %> </p>
        <p> <span class="bold">Status</span>:
          <% if order.order_fulfilled? %>
          Fullfilled.
          <% else %>
          Pending
          <% end %>
        </p>
        <p> <span class="bold">Order Date</span>: <%= order.created_at %></p>
      </div>
      <% end %>
      <% else %>
      <h2>You haven't ordered anything yet</h2>
      <% end %>
    </div>
  </div>

</div>
