<!DOCTYPE html>
<html>
  <head>
    <title>Bakery 3.0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- CDN For Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Lora" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>
    <!-- User Icon -->
    <nav class="main-nav">
      <a class="company_name" href="/"> jordan's bakery & co</a>
      <div class="main_links">
        <a class="links" href="/shop"> shop </a>
        <a class="links" href="/about"> about us </a>
        <a class="links" href="/contact"> contact </a>
      </div>
      <div class="social_media">
        <a class="links" href="https://www.youtube.com/watch?v=QrGrOK8oZG8"> facebook </a>
        <a class="links" href="https://www.youtube.com/watch?v=QrGrOK8oZG8"> twitter </a>
        <a class="links" href="https://www.youtube.com/watch?v=QrGrOK8oZG8"> instagram </a>
        <!-- If user is signed in, the icon will direct user to their profile. Otherwise, icon will direct user to sign in.-->
        <% if user_signed_in? %>
          <a href="/users/<%= current_user.id %>"> <ion-icon name="contact"></ion-icon> </a>
          <a href="/cart"> <ion-icon class="cart-icon" name="cart"></ion-icon> </a>
        <% else %>
          <a href="/users/sign_in"> <ion-icon name="contact"></ion-icon> </a>
          <a href="/cart"> <ion-icon class="cart-icon" name="cart"></ion-icon> </a>
        <% end %>
      </div>
    </nav>
    <!-- If user is signed in, display link to logout -->
    <% if user_signed_in? %>
      <p class="logout"><%= link_to "logout", destroy_user_session_path, method: :delete %></p>
    <% end %>

    <%= yield %>

    <footer>
      <nav class="footer-nav">
        <p class="align-left">MAIN MENU</p>
        <hr>
        <ul>
          <li><a href="/"><p>home</p></a></li>
          <li><a class="links" href="/shop"> <p>shop</p> </a></li>
          <li><a class="links" href="/about"> <p>about us</p> </a></li>
          <li><a class="links" href="/contact"> <p>contact</p> </a></li>
        </ul>
      </nav>

      <div class="hours">
        <p class="align-left">COME VISIT US!</p>
        <hr>
        <p> <span class="bold">3403 No Man's Land, Philadelphia PA 08021</span></p>
        <br>
        <p><span class="bold">HOURS</span>:</p>
        <ul>
          <li>Monday 7 - 8</li>
          <li>Tuesday - CLOSED</li>
          <li>Wednesday 7 - 8</li>
          <li>Thursday 7 - 8</li>
          <li>Friday 7 - 9</li>
          <li>Saturday 7 - 10</li>
          <li>Sunday 7 - 9</li>
        </ul>
      </div>

      <div class="newsletter">
        <p class="align-left">NEWSLETTER</p>
        <hr>
        <p>Subscribe to our mailing list to receive exclusive discounts, deals, and updates!</p>
        <br>
        <input type="text" name="" placeholder="your-email@example.com">
        <button type="button" name="button">SUBSCRIBE</button>
      </div>
    </footer>

    <!-- Icon installation via ionicons.com -->
    <script src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js"></script>
  </body>
</html>
